

<div class="pop-up-container">
    <div class = "header">
    <img src="/assets/images/doc-shape.svg" alt="">
    <p class="title-md" >Change password</p>
    <span class="icon-close" (click) = "oncloseConfirm()"></span>
  </div>
    <div class="input-wrapper">
  <mat-form-field class="form-fielsds">
    <input matInput type="password" placeholder="Current password">
  </mat-form-field>
  <mat-form-field class="form-fielsds">
      <input matInput type="password"  placeholder="New password">
    </mat-form-field>
    <mat-form-field class="form-fielsds">
        <input matInput type="text" placeholder="Confirm password">
      </mat-form-field>
  <div class="button-container">
  <button class="button-bold button" >Reset</button>
  <button class = "button-bold" (click) = "oncloseConfirm()">Submit</button>
  </div>
  </div>
  </div>
  