<footer>
    <div class="footer-container">
        <P>@Wipro Limited 2017</P>
        <ul class="navigations">
            <li>Wipro.com</li>
            <li>Privacy Policy</li>
            <li>Terms of use</li>
        </ul>

        <ul class="footer-social-media">
            <li><span class="icon-twitter"></span></li>
            <li><span class="icon-facebook"></span></li>
            <li><span class="icon-linkedin"></span></li>
            <li><span class="icon-youtube"></span></li>
            <li><span class="icon-googleplus"></span></li>
        </ul>
    </div>
</footer>