<section>
  <div class="offer-header-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-12 offer-let-details">
        <div class="nav-back-home" (click) = "backhome()">
          <span class="icon-back_arrow"></span>
          <p>Back to home</p>
        </div>
        <h3 class="title-md">Lead Administrator Networking Infrastructure</h3>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <p class="description">Location</p>
            <p class="value">Hyderabad</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <p class="description">Business Unit</p>
            <p class="value">Global Infrastructure Service</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <p class="description">Job Code</p>
            <p class="value">5647522</p>
          </div>
          <div class="col-sm-12 col-md-3">
            <p class="description">Experiance</p>
            <p class="value">5-8 Year</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-let-details-wrapper">
    <div class="offer-let-details-subwrapper">
      <h3 class="title-md">Mandatory Skills</h3>
      <div class="row personal-detail-wrapper">
        <p class="mand-skills">Angular / Java</p>
      </div>
      <h3 class="title-md">Desirable Skills</h3>
      <div class="row edu-detail-wrapper">
        <p class="mand-skills">Angular / Java</p>
      </div>
      <h3 class="title-md">Job Description</h3>
      <div class="row job-decs-wrapper">
        <P>
          The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
          has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
          type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
          release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing

        </P>
        <p class="experian-para">
          3 + years of Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
          has been the industry's standard dummy text ever since the 1500s,
        </p>
        <ul>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
          <li>The AML Data Quality Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
        </ul>
      </div>
      <h3 class="title-md">Roles & Responsibilities</h3>
      <div class="role-response-wrapper">
        <p>Minimum Experiance Required:3 + years of Data Quality</p>
        <p>Skills: Angular,java,React</p>
        <p>Desirable Skills: Angular,java,React</p>
        <p>Language Skills: Angular,java,React</p>
        <div class="button-wrapper">
            <button class="button-bold" (click) = "referrelLink()">Reffer now</button>
          </div>
      </div>
     
    </div>



    <div class="row job-details">
      <h3 class="title-md">Recommented Jobs</h3>

      <div class="row">
        <div class="col-sm-12 col-md-4">
          <p class="role">Lead Administrator Networking Infrastructure</p>
          <P class="faded faded-adress">San Francisco, USA</P>
          <p class="domain">Global Infrastructure Service</p>
          <p class="faded">Experience:3 Years</p>
          <p class="faded">Job code</p>
          <button class="button-bold">Learn More</button>
        </div>
        <div class="col-sm-12 col-md-4">
          <p class="role">Lead Administrator Networking Infrastructure</p>
          <P class="faded faded-adress">San Francisco, USA</P>
          <p class="domain">Global Infrastructure Service</p>
          <p class="faded">Experience:3 Years</p>
          <p class="faded">Job code</p>
          <button class="button-bold">Learn More</button>
        </div>
        <div class="col-sm-12 col-md-4">
          <p class="role">Lead Administrator Networking Infrastructure</p>
          <P class="faded faded-adress">San Francisco, USA</P>
          <p class="domain">Global Infrastructure Service</p>
          <p class="faded">Experience:3 Years</p>
          <p class="faded">Job code</p>
          <button class="button-bold">Learn More</button>
        </div>
      </div>
    </div>
  </div>

</section>