<div class="pop-up-container">
    <div class="header">
      <img src="/assets/images/doc-shape.svg" alt="">
      <p class="title-md">Guidelines</p>
      <span class="icon-close" (click)="oncloseConfirm()"></span>
    </div>
    <div class="input-wrapper">
      <div class="social-media-wrapper">
        <p class="prefer">prefer to share ove facebook, Twitter or elsewhere? Here is your unique URL that you can share anywhere.</p>
      </div>
      <div class="button-container">
        <button class="button-bold" (click)="oncloseConfirm()">Skip</button>
      </div>
    </div>
  </div>