
// @import '/../../scss/variables';


  /* SECTION ONE */

  .banner {
    background-image: url("/assets/images/banner-image.jpg");
    display: block;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    height:450px;
    overflow: hidden;
    position: relative;
    font-family: 'AkkuratStd-Light';
    padding-top: 80px;
    font-weight: 600;
    .red-circle {
        background:#eb3542;
        width: 410px;
        height: 375px;
        border-radius: 50%;
        position: absolute;
        top: 35px;
        left: -106px;
        z-index: 0;
    }
    .row {
        width:100%; 

        .welcome-message{
            z-index:1;
            border-right: 1px dotted #fff;
            margin-top: 60px;
            padding-right: 25px;

            h2{
                color:#ffda29;
                border-bottom: 2px solid #ffda29;
                font-size: 36px;
                padding-left: 55px;
                font-family:akkurat-mono;
                margin-right: 65px;
            }

            p{
                color:#F2F2F2;
                font-size: 18px;
                padding: 50px 90px 50px 60px;
                line-height: 28px;
            }
        }
        .days-remains{
            margin-top: 70px;
            padding-left: 110px;

            .count-circle  {
                color:#6CC24A;
              }
           
              .days-remains-caption{
                margin-top: 15px;
                p{
                    color: #fff;    
                    font-size: 20px;
                    margin-bottom: 0px;
                        margin-left: 20px;
                }
                span{
                    color:#ffda29; 
                    font-size: 30px;
                    text-align: center;
                }
              }
        }
    }
  }


  /* SECTION TWO */

  
.second-section {
    .profile-navigation{
        background:#0e3570;
        height: 575px;
        .row{
            width:94%;
            margin-left: 6%;
            position: relative;
            li{
                list-style-type: none;
                margin-top:50px;
            }
            .width-set{
                max-width: 18% !important;
                width: 18% !important;
                flex: 0 0 18%;
                .count-circle{
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    font-size: 25px;
                    color: #fff;
                    line-height: 15px;
                    text-align: center;
                    background:white;
                    padding-top: 30px;
                    padding-left: 5px;
                    .icon-event  {
                        height: 75px;
                        width: 80px;
                    }
                    .gcompletion-circle{
                        background: #6CC24A;
                    }
                    .rcompletion-circle{
                        background: #eb3542 ;
                    }
                    .completion-circle{
                        content: "";
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        border-radius: 50%;
                        position: absolute;
                        top: 115px;
                        right: 115px;
                        .status{
                            font-size: 14px;
                            display: block;
                            padding-top: 12px;
                            font-weight: 500;
                        }
                        .icon-check_mark{
                            font-size: 20px !important;
                            padding-top: 10px !important;
                            font-weight: bold !important;
                        }

                    }
                    
                 }
                 .profie-details{
                    font-family: 'AkkuratStd-Light';
                    p{
                        color: #ffda29;
                        font-size: 22px;
                        margin-bottom: 5px;
                        margin-top: 50px;
                        text-align: center;
                        margin-right: 35px;
                    }
                    span{
                        font-size: 18px;
                        color: white;
                        display: block;
                        margin-left: 20px;
                        opacity: .7;
                    }
                    .disabled{
                        opacity: .6;
                        border: none;
                        background: #567cb5 !important;
                        color: #fff !important;
                    }
                    .disabled:hover{
                        cursor:auto !important;
                        background: #567cb5 !important;
                    }
                    button{
                        color: white;
                        border: 1px solid white;
                        background: #0e3570;
                        margin-top: 30px;
                        margin-left: 5px;
                        padding: 10px 20px 7px 20px;
                        font-size: 13px;
                        width: 135px;
                    }
                   
                    button:hover{
                        background: #ffda29;
                        color:black
                       
                      }
                     
                 }     
             }
         }
       }

       .profile-details-container{
        background:#F2F2F2;
        height: 1025px;  
        .manager-details{
            padding-bottom: 50px;
            background: #fff;
            width: 92%;
            margin-left: 4% !important;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            position: relative;
            top:-150px;

            .job-locale{
                margin-top:50px;
            }
            .col-md-8
            {
             padding-left: 0px;  
             padding-right: 0px; 
            }
            .image-wrapper{
                float:left;
                margin-left: 30px;

                img{
                    border-radius: 50%;
                    width:100px;
                    height:100px;   
                }
             }
             .manager-details-content{
                float: left;
                margin-left: 30px;
                font-family: akkuratStd-Regular;
                .icon{
                    font-size: 18px;
                }
                .name{
                    font-size: 18px;
                    margin-bottom:0px;
                    font-weight: bold;
                }
                .email{
                    display: block;
                    p{
                        float:left;
                         margin-left:15px
                      }
                      span{
                        float:left;
                    }
                
                }
                .phone{
                    display: block;
                    p{
                        margin-left:30px
                     }
                     span{
                        float:left;
                    }
                }
                .role{
                    color: #009CDE;
                }
            }
            .meting-image-display{
                padding-bottom: 50px;
                padding-left: 0px;  
                img{
                    width: 100%;
                    height: 450px;
                    position: relative;
                    top: 50px;
                    left: 15px;
                }
            }   

            .tower-details{
                margin-left:30px !important;             
            #icon-locale{
                  float: left;
                  font-size: 40px;
             }
             .icon-location{
                color:#eb3542;
             }
             .icon-sublocation{
                color:#6CC24A;
             }
             .icon-hotel_building {
                color:#009CDE;
             }
    
          .location-details{
                float: left;
                margin-left: 25px;
               
                span{
                    font-size: 14px;
                    color:#646363;
                }
                p{
                    font-size: 16px;
                }
           }
            }
           .profile-detailsb-button{
            color: #000;
            border: 1px solid #b9b7b7;
            background: #fff;
            margin-top: 20px;
            padding: 6px 15px;
            margin-left: 50px;
           }
        }
        .personal-details{
            background: #fff;
            width: 92%;
            margin-left: 4% !important;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            position: relative;
            top: -100px;
          
               .welcome-message {
                width: 90%;
                  margin-left: 3%;
                  margin-bottom: 35px;
                  span{
                    content: "";
                    background: #ffda29;
                    width: 45px;
                    height: 45px;
                    display: inline-block;
                    border-radius: 50%;
                }
                p{
                    font-size: 20px;
                    position: absolute;
                    left: 58px;
                    top: 96px;
                    font-family: akkuratStd-Regular;
                }
               
              }
               .row {
                .gborderbottom{
                    border-bottom: 3px solid #6CC24A;
                }
                .rborderbottom{
                    border-bottom: 3px solid #eb3542;
                }
                .bborderbottom{
                    border-bottom: 3px solid #0e3570;
                }
                .col-md-4  {    
                    flex: 0 0 29.333333%;
                    max-width: 29.333333%;
                    margin-left: 3%;
                    margin-bottom: 75px;
                    background:#f2f2f2;
                    .greenborder{
                        border: 1px solid #6CC24A;
                        color:#6CC24A !important;
                    }
                    .redborder{
                        border: 1px solid #eb3542;
                        color:#eb3542 !important;
                    }
                    .blueborder{
                        border: 1px solid #0e3570;
                        color:#0e3570 !important;  
                    }
                    .gcolor{
                        color:#6CC24A !important;
                    }
                    .rcolor{
                        color:#eb3542 !important;
                    }
                    .bcolor{
                        color:#0e3570 !important;  
                    }
               .count-circle  {
                width: 85px;
                height: 85px;
                border-radius: 50%;
                font-size: 25px;
                color: #fff;
                line-height: 15px;
                text-align: center;
                padding-top: 20px;
                margin-left: 105px; 
                margin-top: 35px;
                span {
                    font-size: 40px;
                  }
              }
              
              .model {
                color:#009CDE;
                margin-right: 5px;
                margin-top: 20px;
                text-align: center;
                font-size: 18px;
                font-family: akkuratStd-Regular;
            }
            .description{
                margin:16px 50px 30px 50px;
                text-align: center;
                font-size: 16px;
                font-family: akkuratStd-Regular;
            }
            }
            }
        }  

       
    } 
}
    
    /* THIRD SECTION */



    .third-section {
    .map-image-container{
        background-image: url(/assets/images/Places_bg.jpg);
        width:100%;
        height: 500px;
        font-family: 'AkkuratStd-Light';
        position: relative;
        overflow: hidden;
    }
    .blue-half-circle {
        background:#0e3570;
    width:285px;
    height:285px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 65px;
    z-index: 0;
    }
    .map-image-container .place-details{
        z-index: 1;
        margin-top: 100px;
        padding-left: 15px;
    }
    .map-image-container .location-details{
        z-index: 1;
        margin-top: 115px;
    
    }
    .map-image-container .place-details h2{
        color: #ffda29;
        border-bottom: 2px solid #ffda29;
        font-size: 34px;
        margin-right: 155px;
        padding-left: 110px;
        font-family: 'akkurat-mono';
    }
    .map-image-container .place-details p{
        padding-left: 110px;
        color: #fff;
        font-size: 20px;
        padding-top: 10px;
    }
    .map-image-container .location-details p{
        color: #fff;
        font-size: 24px;
    }
    .location-detials  h3{
    color: #ffda29;
    font-size: 22px;
   }
    .map-image-container .location-icon{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background:#ffda29;
        float: left;
               .icon-location {
        font-size: 30px;
        position: absolute;
        top: 16px;
        left: 31px;
    }
}
.location-name{
    margin-left: 95px;
    p{
        color: #fff;
        font-size: 24px;
    }
    h3{
        color: #FFDA29;
        font-size: 22px;
       }
}
        }
    
    .map-container{
        width:100%;
        height: 500px;
        background:#ffda29;
        agm-map {
            height: 625px;
        }
        #googleMap{
            background: white;
            width: 92%;
            margin-left: 4% !important;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            position: relative;
            top: -200px;
            height: 625px;
        }
        
    }
    
#googleMap{
    background: #fff;
    width: 92%;
    margin-left: 4% !important;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -200px;
    height: 625px;
}




/* FORTH SECTION */

.fourth-section{
    background: #f2f2f2;
    height: 625px;  
    .job-details{
        background: #fff;
        width: 92%;
        margin-left: 4% !important;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 70px;
        .title-md {
            font-size: 30px;
        }
        .row .col-md-4{
            flex: 0 0 28.333333%;
            max-width: 28.333333%;
            margin-left: 4%;
            background: #f2f2f2;
            padding-left: 30px;
            padding-top: 15px;
            font-family: akkuratStd-Regular;
            margin-top: 20px;
            margin-bottom: 35px;
            .role{
                color: #0e3570;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0px;
                margin-top: 12px;
            }
            .faded-adress{
                font-size: 14px !important;
            }
            .faded{
                color: #646363;
                margin-bottom: 0px;
                font-size: 16px;
            }
            .domain{
                font-weight: bold;
                margin-top: 30px;
                font-size: 16px;
            }
            button{
                color: #fff;
                background: #0e3570;
                margin-top: 30px;
                margin-bottom: 25px;
                padding: 8px 20px;
            }
        }
        .dots-wrapper{
            margin: 0 auto;    
            padding-bottom:35px;
            .dot{
                height: 8px;
                width: 8px;
                background-color: lightgray;
                border-radius: 50%;
                display: inline-block;
                margin-left: 15px;
          }
          .dot:first-child{
              background-color: #04204c;
          }
          }
        }
}

/* FIFTH SECTION */

.fift-section{
    background: #fff;
    height: auto;  
    .title-md{
        padding-left: 100px;
        margin-top: 75px;
        margin-bottom:0px;
        font-size:36px; 
        color:#eb3542;
    }
    .imagec-container{
        position: relative;
        width: 92%;
        margin-left: 4% !important;
        margin-top: 50px;
        margin-bottom: 25px;
        .first-column {
            width: 48%;
            height: auto;
            float: left;
            .image-tp-placed{
                position: relative;
                margin-top: 30px;
                img{
                    height: 500px;
                    width: 100%;
                }
            }
        
            .image-btm-placed{
                position: relative;
                margin-top: 30px;
                 img{
                    height: 325px;
                    width: 100%;
                }
            }
        }
        .second-column{
            width: 49%;
            height: auto;
            float: left;
            margin: 1%; 
            margin-top: 0px;
            .recomented-job-details{
                left:40px;
            }
            .image-tp-placed{
                position: relative;
                margin-top: 30px;
                img{
                    height: 325px;
                    width: 100%;
                    margin-left: 2%;
                }
            }
        
            .image-btm-placed{
                position: relative;
                margin-top: 30px;
                img{
                    height:500px;
                 width: 100%;
                margin-left: 2%;
                }
            }
        }
        .large-image-align{
            .recomented-job-details{
                top: 250px;
              }
        } 
        .small-image-align {

        .recomented-job-details{
            top: 70px;
          }
        }
        .recomented-job-details{
            position: absolute;
            left:25px;
            color:#fff;
            cursor: pointer;

            .detail-description{
                font-family: 'AkkuratStd-Light';
                font-size: 18px;
                cursor: pointer;
                line-height: 22px;
                color: #dcdbd9;
                line-height: 20px;
                padding-right:10px;
              
            }
            .title{
                text-decoration: underline;
                font-size: 24px;
                margin-top: 10px;
               
            }
            button{
                font-size: 16px;
                 color: #fff;
            display: block;
            border: none;
            font-family: 'akkurat-mono';
            margin-top: 25px;
            padding:10px;
            }
            
            .background-light-ruby{
                background:#f3968f;
            }
        }
    }
    
}

 /* SIXTH SECTION */ 

 .sixth-section{
    background: #f2f2f2;
    height: auto;  
    .title-md{
        color: #0e3570;
        margin-top: 50px;
        padding-left: 110px;
        border-bottom: 1px solid  #0e3570;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 36px;
        font-family: 'akkurat-mono';
    }
    .image-container{
        position: relative;
        width: 92%;
        margin-left: 4% !important;
        margin-top: 50px;
        padding-bottom: 1px;
    button{
        font-size: 16px;
         color: #fff;
    display: block;
    border: none;
    margin-top: 25px;
    margin-left: 5px;
    /* width: 125px; */
    padding: 8px 10px;
    font-family: 'akkurat-mono';
    }
    p{
        font-family:'AkkuratStd-Light';
        margin-left: 6px;
        margin-right: 25px;
        padding-top: 20px;
        font-size: 18px;
        cursor: pointer;
        line-height: 22px;
        color: #dcdbd9;
    }
    .first-section 
    {
        img {
        height: 550px;
        width: 100%;
    }
    .recomented-job-details{
        top: 375px;
        margin-left: 25px;
        position: absolute;
        color:#fff;
    }
}
    .second-section {
        margin-top: 20px;
        margin-bottom: 75px;
        img {
            height: 310px;
            width: 100%;
        } 
        .recomented-job-details{
            top: 175px;
            margin-left: 25px;  
            position: absolute;
            color:#fff;
        }
    }

}

}

       /* LAST SECTION */
       .last-section{
        height: auto;
        background: #0e3570;
        .title-md{
            color: #ffda29;
        margin-top: 50px;
        padding-left: 100px;
        border-bottom: 1px solid #ffda29;
        display: inline-block;
        margin-bottom: 65px;
        font-family: 'akkurat-mono';
        font-size: 34px;
        .row{
      margin-left: 0px;
 
   }
      }
      .social-media .row .col-md-4{
        flex: 0 0 28.333333%;
        max-width: 28.333333%;
        margin-left: 4%;
        margin-bottom: 50px;
        background: #fdfdfd;
        padding-left: 0px;
        padding-top: 15px;
        border-radius: 5px;
        padding-bottom: 30px;
        position: relative;
        overflow: hidden;
        font-family: 'AkkuratStd-Regular';
        .anchor{
            color:black;
            text-decoration: none;
        }
        .social-media-icon{
            position: absolute;
            top: -10px;
            left: 250px;
            span{
                position: absolute;
            color: #fff;
            font-size: 45px;
            top: 15px;
            left: 18px;
            }
            
        }
        .header{
            color: #0e3570;
            border-bottom: 1px solid #0e3570;
            padding-left: 30px;
            display: inline-block;
            font-size: 26px;
            font-family: 'akkurat-mono';
      
        }
        .title{
            padding-left: 30px;
            margin-bottom: 0px;
            font-weight: 600;
            padding-top: 25px;
            font-size: 16px;
        }
        .date{
            padding-left: 30px;
            color: #646363;
            font-size: 16px;
        }
        .description{
            padding:15px 10px 0px 30px;
            a{
                color:#009CDE;   
               
            }
            span{
                font-weight: bold;
            }
        }
      .dots-wrapper{
        margin-left: 45%;
        padding-top: 40px;    
        .dot{
            height: 8px;
            width: 8px;
            background-color: lightgray;
            border-radius: 50%;
            display: inline-block;
            margin-left: 8px;
      }
      .dot:first-child{
          background-color: gray;
      }
      }
    }
    .social-media-content{
        background: #274b7f; 
        padding:50px 85px;
        margin-left: 0px;
        p{ 
            text-align: center;
            color: #97a3b9;
            font-size: 14px;
        }
    }
   
}
  
.more-link-wrapper .dot {
    height:5px;
    width: 5px;
    background-color: #646363;
    border-radius: 50%;
    margin-left: 6px;
    display: inline-block;
    float: left;
    margin-top: 12px;
  }
  .more-link-wrapper{
      width:100%;
  }
  .more-link-wrapper a{
  color:black;
  cursor: pointer;
}

  .more-link{
    float: right;
    margin-right: 15px;
    margin-top: 25px;
  }
  .more-link p{
    font-size: 16px;
    font-weight: 500;
    float: left;
  }

  // Spinner style

  .mat-progress-spinner{
      position: absolute;
      top:150px;
      left:40%;
      z-index: 1;
  }

  // Slider styles


  #container {
    width: 100%;
    padding: 0;
    
  }

  .items{
    max-width: 400px;
    background:#fff;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 10px;
    border-radius: 8px;
  }
  .button-wrapper{
    height: 10px;
    width:10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    }

    .active{
        background: #04204c;
    }
    .inactive{
        background:#c4c7c7;
    }

  

      .completion-circle:has(.status ){
        background:black !important;
}