<div class="pop-up-container">
  <div class="header">
    <img src="/assets/images/doc-shape.svg" alt="">
    <p class="title-md">Share referral link </p>
    <span class="icon-close" (click)="oncloseConfirm()"></span>
  </div>
  <div class="input-wrapper">
    <div class="social-media-wrapper">
      <p class="row prefer">prefer to share ove facebook, Twitter or elsewhere? Here is your unique URL that you can share anywhere.</p>
      <div class="row">
        <span class = "icon-link"></span>
        <p >https://material.angular.io/components/form-field/overview</p>
      </div>
      <ul>
        <li>
          <img src="../assets/images/facebook.png" alt="">
        </li>
        <li >
          <img src="../assets/images/youtube.png" alt="">
        </li>
        <li >
          <img src="../assets/images/twitter.png" alt="">
        </li>
        <li>
          <img src="../assets/images/facebook.png" alt="">
        </li>
      </ul>
    </div>
    <div class="button-container">
      <button class="button-bold" (click)="oncloseConfirm()">Cancel</button>
    </div>
  </div>
</div>